@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

:root {
	--main-color-card: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
	--bg-color: hsl(240, 78%, 98%);
	--text-input-color: hsl(234, 14%, 74%);
	--title-color: hsl(233, 13%, 49%);
	--price-color: hsl(232, 13%, 33%);
}

.year-price {
	display: block;
}

.month-price {
	display: none;
}

/*UPDATE PRICE CLASS*/

.enabled {
	display: block;
}

.disabled {
	display: none;
}


.div-toggle .btn-toggle {
	cursor: pointer;
}

.div-toggle .btn-toggle:hover {
	opacity: .6;
}



@media screen and (min-width: 375px) {
	body {
		width: 100%;
		height: 100vh;
		background-image: url(images/bg-top.svg);
		background-position: 16rem 0;
		background-size: cover;
	}

	/*BTN ACTIVE CLASS*/
	.btn-toggle .active {
		left: 27px;
	}	

	.bg-img-top {
		position: absolute;
		width: 200px;
		top: -10px;
		right: -6rem;
		z-index: -1;
		display: none;
	}

	.bg-img-bottom {
		position: absolute;
		width: 300px;
		display: none;
	}

	.main-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 200vh;
	}

	.div-change {
		margin-top: 20px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 90%;
	}

	.div-change > h2 {
		color: var(--price-color);
		font-weight: 700;
	}

	.div-toggle {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 90%;
		height: 2rem;
	}

	.div-toggle > p {
		color: var(--text-input-color);
		font-weight: 700;
		font-size: 15px;
	}

	.div-toggle .btn-toggle {
		position: absolute;
		background: linear-gradient(to right, var(--main-color-card));
		display: flex;
		justify-content: start;
		padding: 2px;
		align-items: center;
		width: 45px;
		height: 20px;
		border-radius: 10px;
	}

	.btn-toggle > div {
		position: absolute;
		width: 15px;
		height: 14px;
		background: hsl(240, 78%, 98%);
		border-radius: 8px;
	}

	.cards-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	.cards-container .professional-card {
		background: linear-gradient(to right, var(--main-color-card));
	}

	.cards-container .professional-card .text-pack {
		color: hsl(240, 78%, 98%);
	}

	.cards-container .professional-card .price-div > span {
		color: hsl(240, 78%, 98%);
	}

	.cards-container .professional-card > p {
		color: hsl(240, 78%, 98%);
	}

	.cards-container .professional-card .btn-more {
		background: hsl(240, 78%, 98%);
		color: hsl(232, 13%, 33%);
	}

	.cards {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		width: 90%;
		height: 100%;
		margin: 10px;
		border-radius: 10px;
		background: var(--bg-color);
		box-shadow: 0 6px 10px 2px #0002;
	}

	.cards > p {
		color: var(--price-color);
		font-weight: 700;
		font-size: 15px;
	}

	.price-div {
		display: flex;
		justify-content: space-evenly;
		height: 30%;
		align-items: center;
		flex-direction: column;
		width: 80%;
	}

	.price-div .text-pack {
		font-size: 17px;
		color: var(--title-color);
		font-weight: 700;
	}

	.price-div > span {
		font-size: 60px;
		font-weight: 700;
		color: hsl(232, 13%, 17%);
		text-align: center;
	}

	.price-div .dollar {
		font-size: 40px;
		position: relative;
		bottom: 5px;
	}

	.cards > hr {
		width: 80%;
		background: var(--title-color);
		opacity: 0.4;
	}

	.btn-more {
		width: 80%;
		height: 10%;
		border-radius: 10px;
		border: none;
		background: linear-gradient(to right, var(--main-color-card));
		color: white;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
}

@media screen and (min-width: 768px) {
	.cards {
		width: 55%;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1980px) {

	body {
		overflow: hidden;
	}

	.bg-img-top {
		position: absolute;
		width: 200px;
		top: -10px;
		right: -6rem;
		z-index: -1;
	}

	/*BTN ACTIVE CLASS*/
	.btn-toggle .active {
		left: 30px;
	}

	.bg-img-bottom {
		position: absolute;
		width: 300px;
		left: 0;
		bottom: 0;
	}

	.main-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;
	}

	.div-change {
		margin-top: 20px;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.div-change > h2 {
		color: var(--price-color);
		font-weight: 700;
		font-size: 25px;
	}

	.div-toggle {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 50%;
		height: 3rem;
	}

	.div-toggle > p {
		color: var(--text-input-color);
		font-weight: 700;
	}

	.div-toggle .btn-toggle {
		position: absolute;
		background: linear-gradient(to right, var(--main-color-card));
		display: flex;
		justify-content: start;
		padding: 2px;
		align-items: center;
		width: 45px;
		height: 10px;
		border-radius: 10px;
	}

	.btn-toggle > div {
		position: absolute;
		width: 15px;
		height: 14px;
		background: hsl(240, 78%, 98%);
		border-radius: 8px;
	}

	.cards-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		width: 100%;
		height: 100%;
	}

	.cards-container .professional-card {
		background: linear-gradient(to right, var(--main-color-card));
	}

	.cards-container .professional-card .text-pack {
		color: hsl(240, 78%, 98%);
	}

	.cards-container .professional-card .price-div > span {
		color: hsl(240, 78%, 98%);
	}

	.cards-container .professional-card > p {
		color: hsl(240, 78%, 98%);
	}

	.cards-container .professional-card .btn-more {
		background: hsl(240, 78%, 98%);
		color: hsl(232, 13%, 33%);
	}

	.cards {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		width: 30%;
		height: 100%;
		margin-top: 20px;
		border-radius: 10px;
		background: var(--bg-color);
		box-shadow: 0 6px 10px 2px #0002;
	}

	.cards-container .professional-card {
		bottom: 15px;
		height: 95%;
	}

	.cards > p {
		color: var(--price-color);
		font-weight: 700;
		font-size: 14px;
	}

	.price-div {
		display: flex;
		justify-content: space-evenly;
		height: 30%;
		align-items: center;
		flex-direction: column;
		width: 80%;
		font-weight: 700;
		font-size: 10px;
		color: hsl(232, 13%, 17%);
		text-align: center;
	}

	.price-div > span {
		font-size: 55px;
	}

	.price-div .text-pack {
		font-size: 15px;
		color: var(--title-color);
		font-weight: 700;
	}

	.price-div .dollar {
		font-size: 30px;
		position: relative;
		bottom: 10px;
	}

	.cards > hr {
		width: 80%;
		background: var(--title-color);
		opacity: 0.4;
	}

	.btn-more {
		width: 80%;
		height: 10%;
		border-radius: 10px;
		border: none;
		background: linear-gradient(to right, var(--main-color-card));
		color: white;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-size: 12px;
	}

	.div-toggle {
		margin: 10px
		width: 50%;
	}

	.div-toggle > p {
		font-size: 15px;
	}

	.div-toggle .btn-toggle {
		padding: 5px;
		width: 55px;
		height: 25px;
		border-radius: 20px;
	}

	.div-toggle .btn-toggle > div {
		height: 20px;
		width: 20px;
		border-radius: 50%;
	}

	.attribution {
		position: absolute;
		top: 10px;
		left: 10px;

	}

	.attribution > p {
		font-size: 10px;
	}
}

.btn-more {
	cursor: pointer;
	transition: .2s;
}

.btn-more:hover {
	background: none;
	color: var(--title-color);
	border: 1px solid var(--title-color);
}

.professional-card .btn-more:hover {
	background: none;
	border: 1px solid var(--bg-color);
	color: var(--bg-color);
}




